Importing pandas library

In [1]:
import pandas as pd

#### **Q.1) Read the dataset.**
(Hint : Reading a dataset)

#### **Q.2) Print first 5 rows and last 5 rows.**
(Hint : Viewing data)

#### **Q.3) Basic statistical description of dataset.**

#### **Q.4) Find overall information about dataset.**

#### **Q.5) Find sum of null values in every column.**

#### **Q.6)Sort the columns temperature_fahrenheit.**

#### **Q.7) Find number of unique timezones.**
(Hint : Counting Unique Values)

#### **Q.8) I need number of unique values from each column.**
(Hint : Counting Unique Values)

#### **Q.9) Total Duplicate values.**

#### **Q.10) Average humidity in timezones.**
(Hint : Grouping Data)

#### **Q.11) I need a json file. Json file contains data of 'country','location_name','timezone','temperature_celsius'.**
(Hint : Exporting Data)

#### **Q.12) I need data where wind direction is West.**
(Hint : Filtering Data)

#### **Q.13)Find count of unique contries whose latitude is greater than 60.**
(Hint : Conditional Filtering)

#### **Q.14) Find data whose moon_phase is "Waxing Gibbous" and moon_illumination is 55.**
(Hint : Conditional Filtering)

#### **Q.15) In country column we have "Afghanistan" country. Change this name to "AFG". Simillarly do it for "India" to "IND", "Bangladesh" to "BAN".**
(Hint : Replacing Values,Mapping)