In [ ]:
import pandas as pd

#### **Q.1) Read dataset**

#### **Q.2) Print top 5 rows**

#### **Q.3) Overall information about data.**

#### **Q.4) Print all column names in dataset**

#### **Q.5) Drop column `Restaurant ID` permenently**

#### **Q.6) Group rating colours and mean of values of aggregate rating in front of them**
(Hint : Grouping Data)

#### **Q.7) Print sample 10 rows**

#### **Q.8) How many restaurants are there in Kolkata whose rating is Excellent?**
(Hint : Conditional Filtering)

#### **Q.9) How many restaurants are there which are located within the mall And what is average price range ?**
(Hint :  Calculating Mean)

#### **Q.10)What is total votes of restaurants whose Rating is Very Good in New Delhi?**
(Hint : Conditional Filtering)

#### **Q.11) Find unique values in rating color. And change them with its first letter. Like "Orange" - "O"**
(Hint : Mapping)

#### **Q.12) Which restaurants Cuisine's are "Japanese".**
(Hint : String Filtering)

#### **Q.13) output for dataset where latitude is greater than 30 and longitude is less than 80**
(Hint : Conditional Filtering)

#### **Q.14) Sort dataset by "City" column**

#### **Q.15) Which city's count is occurred maximum in the dataset?**
(Hint :  Finding Most Frequent Value)